<footer class="py-1 footer mt-auto">
    <div class="container">
        <div class="mt-2" style="color: rgba(240, 243, 247, 0.932) !important;" style="font-family: sans-serif;">
            &copy;TripSpot 2022
            <p style="color:rgba(226, 221, 221, 0.747)">
                <small>
                    <b>Note: This app isn't configured for mobile experience. Some changes to be made, until then please
                        enjoy
                        in your
                        desktop browsers...</b>
                </small>
            </p>
        </div>
    </div>
</footer>