<nav class="navbar navbar-light navbar-expand-lg shadow-lg p-2 bg-body sticky-top" aria-label="Secondary navigation"
    id="searchNav">
    <div class="container-fluid">
        <div class="ms-auto" id="searchWrapper" style="width: 17rem;">
            <input class="form-control me-2" type="text" name="searchBar" id="searchBar"
                placeholder="search for site or location" />
        </div>
    </div>
</nav>